/* GENERAL STYLES */
/* html {
    font-size: 16px;
} */

@font-face {
    font-family: 'icomoon';
    src:  url('icons/fonts/icomoon.eot?tf1cq2');
    src:  url('icons/fonts/icomoon.eot?tf1cq2#iefix') format('embedded-opentype'),
      url('icons/fonts/icomoon.ttf?tf1cq2') format('truetype'),
      url('icons/fonts/icomoon.woff?tf1cq2') format('woff'),
      url('icons/fonts/icomoon.svg?tf1cq2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-dribbble-logo:before {
    content: "\e900";
  }
  .icon-facebook-placeholder-for-locate-places-on-maps:before {
    content: "\e901";
  }
  .icon-instagram:before {
    content: "\e902";
  }
  .icon-mail-black-envelope-symbol:before {
    content: "\e903";
  }
  .icon-paper-plane:before {
    content: "\e904";
  }
  .icon-telephone:before {
    content: "\e905";
  }
  .icon-twitter-logo-silhouette:before {
    content: "\e906";
  }

*{
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1171px;
    margin: 0 auto;
    padding: 0 15px;
}

.center {
    align-items: center;
}

.flex_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.space_between {
    justify-content: space-between;
}

html, body {
    font-family: 'Lato';
}

/* HEADER STYLES */

header {
    border-bottom: 4px solid #7f7f7f;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: #fff;
    z-index: 99;
}

header * {
   font-weight: bold; 
   text-transform: uppercase;
}

header {
   padding: 25px 0;
}

header a {
    text-decoration: none;
    color: #c5c5c5;
    font-size: 10px;
}

header a:hover {
    color: #1abc9c;
}

nav li:nth-child(n+2){
    margin-left: 38px;
}

.burger_nav {
    display: none;
    cursor: pointer;
}

.burger {
    width: 40px;
    height: 5px;
    margin: 6px 0;
    background-color: #1abc9c;
}

/* INTRO STYLES */

.intro {
    margin-top: 90px;
    background-image: url(Pav/fonas1.jpg);
    height: 697px;
    background-size: cover;
    background-position: center center;
}

.intro .container {
    text-align: center;
}

h1 {
    display: inline-block;
    font-size: 60px;
    color: #fff;
    padding: 30px;
    background-color: #646464;
    opacity: 0.8;
    font-weight: bold; 
    text-transform: uppercase;
    margin-top: 200px;    
}

h2 {
    display: inline-block;
    font-size: 36px;
    color: #fff;
    padding: 25px;
    background-color: #646464;
    opacity: 0.8;
    font-weight: lighter;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 40px;
}

.soc {        
    text-align: center;
    text-decoration: none;
    font-size: 27px;
    color: #fff;
    padding: 13px;
    background-color: #646464;
    opacity: 0.8;
}

.soc:hover {
    opacity: 0.4;
}

.icons_row a:nth-child(n+2){
    margin-left: 5px;
}

/* HEADING STYLE */

.heading_container {    
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    background-color: #1abc9c;
    position: relative; 
    padding-left: 15px;
}

.heading_container .container {
    position: relative;
    padding: 36px 0;
}

 .heading_container .container:before {
    content:"";
    position: absolute;
    top: 100%;
    left: 50px;;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-top: 10px solid #1abc9c;
    border-right: 10px solid transparent;
}

 /* ABOUT INTRO STYLE */

.about_intro {
    min-height: 930px;
}

.about_intro .flex_container .picture {
    width: 31%;
}

.about_intro .flex_container .text {
    width: 66%;
}

.picture {
    padding: 80px 0 58px 0;    
}

.picture img {
    border-radius: 50%;
    overflow: hidden;
}

.text {
    padding: 120px 0;
    min-height: 220px;
}

h3 {
    color: #767676;
    font-size: 16px;
    font-weight: lighter;
    padding-bottom: 30px;
    line-height: 2;
}

.about_intro p {
    font-size: 11px;
    color: #656565;
    line-height: 3;
} 

.about_intro .flex_container li {
    width: 32%;
    min-height: 290px;
    margin-bottom: 0;
}

.about_intro h6 {
    font-size: 12px;
    color: #484848;
    font-weight: bold; 
    text-transform: uppercase;
    padding: 0 0 30px 0; 
}

.button_container a {
    background-color: #3f8dbf;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    display: inline-block; 
    border-radius: 5px;
    border-bottom: 4px solid;
    border-bottom-color: #3678a2;  
    cursor: pointer;
    padding: 10px 30px 10px 22px;
}

.button_container {
    text-align: center;
    padding: 60px 0 80px 0;
}

.button_container span {
    font-size: 21px;    
}

 /* PORTFOLIO STYLE */

.portfolio_intro {
    padding-bottom: 75px;
    background-color: #333333;     
}

.portfolio_container h5 {    
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative; 
    padding: 80px 0 0 0;
}

.portfolio_container p {    
    font-size: 11px;
    color: #fff;     
    position: relative;
    padding: 30px 0 60px 0; 
}

/* BLOG STYLE */

.blog_intro {
    padding: 80px 0 40px;
    background-color: #f0f0f0;
}

.blog_intro .flex_container li {
    width: 48%;
    min-height: 512px;
    background-color: #fff;
    border-bottom: 3px solid;
    border-bottom-color: #e4e4e4;
    margin-bottom: 35px;
}

.blog_intro h5 {
    font-size: 10px;
    color: #9f9f9f;
    text-transform: uppercase;
    background-color: #f9f9f9;
    padding: 30px 0 27px 25px;
}

.blog_intro a {
    text-decoration: none;
}

h6 {
    font-size: 12px;
    color: #5c5c5c;
    font-weight: bold; 
    text-transform: uppercase;
    padding: 25px;
}

.blog_intro p {
    font-size: 11px;
    color: #656565;
    line-height: 3;
    padding: 0 0 25px 25px;
}

/* GET IN STYLE */

.get_intro {
    padding-top: 88px;
    background-image: url("Pav/end\ foto.jpg");
    background-position: center center;
    background-size: cover;
}

.get_intro .container {
    display: flex;
    justify-content: space-between;
}

input, textarea, input::placeholder, textarea::placeholder {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 0 20px 15px;
    color: #fff;
    border: none;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    outline-color: #7f7f7f;
    width: 100%;   
}

.form {
    width: 68%;
    margin-bottom: 80px;
}

.contact {
    width: 28%;
}

input::placeholder, textarea::placeholder {
    background: transparent;
    padding: 0;
    color: #7f7f7f;
}

button {
    border: none;
    background-color: #3f8dbf;
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    display: inline-block; 
    border-radius: 5px;
    border-bottom: 4px solid;
    border-bottom-color: #3678a2;  
    cursor: pointer;
    padding: 12px 29px 8px 25px;
}

button span {
    font-size: 21px;    
}

.contact h6 {
    color: #fff;
    font-size: 12px;
    padding: 0 0 25px 0;
}

.contact p {
    color: #d9d9d9;
    font-size: 11px;
    line-height: 3;
    padding-right: 58px;
}

.contact span {
    color: #fff;
    font-size: 10px;
    padding: 2px 17px 2px 0;
}

/* FOOTER STYLE */

.footer_text p {
    font-size: 11px;
    color: #656565;
    padding: 62px 0 35px 0;
    text-align: center;
}

.sc {        
    /* width: 100%; */
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #b2b2b2;
}

.sc:hover {
    color: #1abc9c;
}

.footer_icons_row a:nth-child(n+2){
    margin-left: 29px;
}

.footer_icons_row {
    text-align: center;    
}

footer {
    margin-bottom: 60px;
}


@media all and (max-width: 620px){
    .nav{
        display: none;
        flex-wrap: wrap;
    }

    .nav.show{
        display: block;
    }

    .menu-item{
        width: 100%;
    }

    .burger_nav{
        display: block;
    }

    nav li:nth-child(n+2){
        margin-left: 0;
    }
}

@media all and (max-width: 360px){

    h1 {
        width: 100%;
    }

    h2 {
        width: 100%;
    }

    .about_intro .flex_container .picture {
        width: 100%;
    }

    .text {
        padding: 60px 0;
    }
    
    .about_intro .flex_container .text {
        width: 100%;
    }

    .about_intro .flex_container li {
        width: 100%;
        padding-bottom: 40px;
    }

    .blog_intro .flex_container li {
        width: 100%;
    }

    .picture {
        padding: 80px 0 0 0;    
    }

    .button_container {
        text-align: center;
        padding: 0 0 40px 0;
    }

    .portfolio_container p {
        line-height: 3;
    }

    .blog_intro h6 {
        line-height: 2;
    }

    .get_intro .container {
        flex-wrap: wrap;
    }

    .form {
        width: 100%;
    }

    .contact {
        width: 100%;
        padding-bottom: 60px;
    }
}